Source: firefox-solydxk-adjustments
Section: web
Priority: optional
Maintainer: Arjen Balfoort <solydxk.abalfoort@tuta.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0

Package: firefox-solydxk-adjustments
Architecture: all
Depends: ${misc:Depends},
  diffutils,
  firefox | firefox-esr | waterfox | librewolf
Recommends: keepassxc
Replaces: waterfox-solydxk-adjustments
Conflicts: waterfox-solydxk-adjustments
Description: Adjustments for Mozilla Firefox (and derivates)
 SolydXK configuration adjustements for:
 Firefox ESR
 Firefox
 Waterfox
 Librewolf
